.body {
    width: 100%;
    padding: 20px;
    display: inline-block;
}

@media screen and (max-width: 1450px) {
    .inputField {
        width: 100%;
        margin-right: 0%;
    }
     .inputFieldRed {
        width: 100%;
        margin-right: 0%;
    }
     .error {
        width: 80%;
    }
}

@media screen and (min-width: 1450px) {
    .inputField {
        width: 32%;
        margin-right: 1%;
    }
    .inputFieldRed {
        width: 32%;
        margin-right: 1%;
    }
    .error {
        width: 18%;
    }
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #06038d;
    border-radius: 5px;
    text-align: left;
    vertical-align: top;
    width: 100%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.confirm {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #06038d;
    border-radius: 5px;
    text-align: center;
    vertical-align: top;
    width: 100%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.descriptionHeader {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    border-radius: 0px 0px 5px 5px;
    text-align: left;
    vertical-align: top;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    width: 100%;
    padding: 20px;
    background-color: rgb(0, 0, 0, 0.85);

}

.bannerText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: justify;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.bannerHeader {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #FFFFFF;
    text-align: center;
    width: 80%;
    max-width: 810px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.note {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}

.link {
    text-align: right;
    color: rgb(139, 158, 183, 0.85);
    font-weight: 700;
}

.inputField {
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 30px;
    gap: 10px;  
    background: #FFFFFF;
    border: 1px solid rgb(139, 158, 183, 0.85);
    border-radius: 5px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.inputFieldRed {
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 30px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid red;
    border-radius: 5px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.messageText {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 98%;
    height: 220px;
    background: #FFFFFF;
    border: 1px solid rgb(139, 158, 183, 0.85);
    border-radius: 5px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.messageTextRed {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 98%;
    height: 220px;
    background: #FFFFFF;
    border: 1px solid red;
    border-radius: 5px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.sendmail {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 3em;
    text-decoration: none;
    border: 2px solid #FFFFFF;
    background-color: #000000;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 28px;
    font-family: 'Montserrat';
    font-style: normal;
}

.contact:hover {
    opacity: 0.8;
}

.x {
    float: right;
    cursor: pointer;
}

.error {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    position: fixed;
    top: 0px;
    margin: 20px;
    padding: 20px;
    right: 5%;
    gap: 60px;
    flex: none;
    color: #FFFFFF;
    background-color: red;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: 2000;
    border-radius: 10px;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}