.banner {
    width: 100%;
    height: 600px;
    background-color: #FFFFFF;
}

.container {
    width: 50%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

.containerHeader {
    width: 50%;
    margin-top: 2%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

.containerHeaderContact {
    width: 50%;
    margin-top: 3%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

.containerHeaderOurWork {
    width: 50%;
    margin-top: 9%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

.containerHeaderReviews {
    width: 50%;
    margin-top: 4%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

.containerHeaderAbout {
    width: 50%;
    margin-top: 6%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

.containerHeaderAboutMobile {
   display: none;
}

.containerHeaderReviewsMobile {
    display: none;
}

.containerLogo {
    width: 50%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

.containerTop {
    width: 50%;
    padding: 20px;
    margin-top: 150px;
    display: inline-block;
    vertical-align: top;
}

@media screen and (max-width: 1450px) {
    .container {
        width: 100%;
    }
    .containerTop {
        width: 100%;
        margin-top: 0px;
    }
    .containerHeader {
        width: 100%;
        margin-top: 0px;
    }
    .containerHeaderContact {
        width: 100%;
        margin-top: 0px;
    }
    .containerHeaderOurWork {
        width: 100%;
        margin-top: 0%;
    }
    .containerLogo {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0 auto;
    }
    .containerHeaderReviewsMobile {
    width: 100%;
    margin-top: 0%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    }
    .containerHeaderReviews {
        display: none;
    }
    .containerHeaderAbout {
      display: none;
    }
    
    .containerHeaderAboutMobile {
        width: 100%;
        margin-top: 0%;
        padding: 20px;
        display: inline-block;
        vertical-align: top;
    }
    .banner {
        height: 800px;
    }
}

.logo {
    display: block;
    margin: 0 auto;
    margin-top: 150px;
}

.bodyBlack {
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);

}

.textBlack {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    max-width: 1000px;
    margin-top: 6%;
}

.headerBlack {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;

}

.bodyWhite {
    width: 100%;
    padding-top: 20px;
    text-align: center;

}

.textWhite {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: hwb(0 0% 100%);
    text-align: left;
    max-width: 1000px;
    margin: 50px auto;
}

.headerWhite {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #000000;
    text-align: center;
    width: 100%;
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
}

.headerBlue {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #06038d;
    text-align: center;
    width: 100%;
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
}

.link {
    color: rgb(139, 158, 183, 0.85);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    width: 50%;
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
}

.linkWhite {
    color: rgb(139, 158, 183, 0.85);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    width: 50%;
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
}

.link:hover {
    color: #FFFFFF;
}

.linkWhite:hover {
    color: #000000;
}

.linkReviews {
    color: rgb(139, 158, 183, 0.85);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    width: 20%;
    margin: 0 auto;
}

.linkReviews:hover {
    color: #000000;
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #06038d;
    border-radius: 5px;
    text-align: left;
    vertical-align: top;
    width: 100%;
    max-width: 710px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.signature {
    text-align: right;
    color: rgb(139, 158, 183, 0.85)
}

.card {
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    animation-name: enter;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
.weclean {
    width: 98%;
    padding: 20px;
}
.wecleanimg {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 40px;
    color: #FFFFFF;
    background-color: #06038d;
    text-align: center;
    width: 100%;
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
}

.contact {
    font-size: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    color: #FFFFFF;
    width: 115px;
    margin: 0 auto;
    text-decoration: none;
    border: 2px solid #FFFFFF;
    background-color: #000000;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.contactWhite {
    width: 220px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 18px;
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    margin: 0 auto;
    text-decoration: none;
    cursor: pointer;
}

.contactBlue {
    width: 220px;
    padding: 20px;
    border: 2px solid #06038d;
    color: #06038d;
    border-radius: 20px;
    font-size: 18px;
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    margin: 0 auto;
    text-decoration: none;
    cursor: pointer;
}

.contactBlack {
    width: 220px;
    padding: 20px;
    border: 2px solid white;
    color: white;
    background-color: #000000;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Montserrat';
    display: block;
    font-style: normal;
    margin: 0 auto;
    text-decoration: none;
    cursor: pointer;
}

.contactWhite:hover {
    width: 220px;
    padding: 20px;
    border: 2px solid white;
    color: white;
    background-color: #000000;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    margin: 0 auto;
    text-decoration: none;
    cursor: pointer;
}

.contactBlue:hover {
    width: 220px;
    padding: 20px;
    border: 2px solid white;
    color: white;
    background-color: #06038d;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    margin: 0 auto;
    text-decoration: none;
    cursor: pointer;
}

.contactBlack:hover {
    width: 220px;
    padding: 20px;
    border: 2px solid white;
    color: black;
    background-color: white;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    margin: 0 auto;
    text-decoration: none;
    cursor: pointer;
}

.contact:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1450px) {
    .container {
        width: 90%;
    }

    .img {
        margin: 0 auto;
    }
    .headerBlack {
        width: 100%;
    }
    .headerWhite {
        width: 100%;
    }
    .link {
        width: 100%;
    }
    .linkWhite {
        width: 100%;
        margin: 0 auto;
    }
    .linkReviews {
        width: 100%;
        margin: 0 auto;
    }
    .review {
        margin-top: 20px;
    }
}

@media screen and (min-width: 1450px) {
    .img {
        float: left;
        margin-bottom: 70px;
        margin-right: 10px;
    }
}

@keyframes enter {

    0% {
        opacity: 0;
    }
        
    25% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
        
    75% {
        opacity: 1;
        animation-timing-function: ease-in;
    }
        
    100% {
        opacity: 0;
    }
}