.fadeIn {
    animation: fadeIn 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeInDown {
    animation: fadeInDown 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
   }
   20% {
    transform: translateY(-10px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

.fadeInUp {
    animation: fadeInUp 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    20% {
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInRight {
    animation: fadeInRight 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    25% {
        transform: translateX(30%)
    }

    50% {
        transform: translateX(5%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInLeft {
    animation: fadeInLeft 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    25% {
        transform: translateX(-30%)
    }

    50% {
        transform: translateX(-5%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.zoomIn {
    animation: zoomIn 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes zoomIn {
    0% {
        transform: scale(0, 0);
    }

    25% {
        transform: scale(0.7, 0.7);
    }

    50% {
        transform: scale(0.95, 0.95);
    }

    100% {
        transform: scale(1, 1);
    }
}